* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 10rem;
  background-color: rgb(139, 24, 116);

  color: rgb(247, 149, 64);
}

.encabezado {
  display: flex;
  justify-content: center;
  flex-direction: row;

  width: 30%;
  margin: 0rem auto;
  padding: 2rem;
}

.botonera {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0rem auto;
  padding: 0.2rem 1rem;
}
button {
  font-size: 10px;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  width: 7rem;
  position: relative;
}

i {
  position: absolute;
  left: 7px;
}

aside {
  width: 14rem;
  padding: 1rem;
  margin: 5px;
  background-color: #141616;
  position: absolute;
  top: 52;
  bottom: 0;
  right: 0;
  z-index: 999;
  border: 3px solid #383838;
  color: #ffffff !important;
}

.texto {
  display: none;
}

input {
  font-size: 1.5 rem;
  display: block;
  padding: 5px;
}

.range {
  color: rgb(139, 24, 116);
  background-color: rgb(247, 149, 64);
  height: 2rem;
}
main {
  display: flex;
  justify-content: center;
}
.generador {
  width: 28rem;
  height: 30rem;
  border: 3px solid grey;
  display: flex;
  flex-direction: column ;
}
.textoSuperior {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: antiquewhite;
  
}
.meme{
    height: 65%;
    background-color: #383838;
}

.textoInferior {
  width: 100%;
  height: 15%;
  text-align: center;
  background-color: antiquewhite;

}
.botonDescarga {
  display: block;
  width: 5rem;
  height: 3rem;
  background-color: green;
  position: absolute;
  bottom: 0;
}
